.root {
  margin-inline: auto;
  width: 100%;
  padding-block: var(--container-py, 0);
}
.root[data-size='sm'] {
  max-width: var(--ku-breakpoint-sm);
}
.root[data-size='md'] {
  max-width: var(--ku-breakpoint-md);
}
.root[data-size='lg'] {
  max-width: var(--ku-breakpoint-lg);
}
.root[data-size='xl'] {
  max-width: var(--ku-breakpoint-xl);
}
.root[data-padded='true'] {
  padding-inline: var(--ku-space-6);
}
