.root {
  display: flex;
  flex-direction: column;
  gap: var(--stack-gap, var(--ku-space-4));
}
.root[data-align='start'] {
  align-items: flex-start;
}
.root[data-align='center'] {
  align-items: center;
}
.root[data-align='end'] {
  align-items: flex-end;
}
.root[data-align='stretch'] {
  align-items: stretch;
}
.root[data-justify='start'] {
  justify-content: flex-start;
}
.root[data-justify='center'] {
  justify-content: center;
}
.root[data-justify='end'] {
  justify-content: flex-end;
}
.root[data-justify='between'] {
  justify-content: space-between;
}
.root[data-justify='around'] {
  justify-content: space-around;
}
.root[data-wrap] {
  flex-wrap: wrap;
}
